.quoteContent{
    position: fixed;
    background-color: rgb(251, 255, 211);
    right: 125px;
}

#qContent{
    display: block;
}

.mainContent{
    position: fixed;
    background-color:rgb(0, 255, 242);
    left: 40px;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
}

 #myImg {
     display: block;
     margin: 0 auto;
 }

button {
    margin-top: 15px;
}



