/* Root variables for themes and colors */
:root {
    --primary-color: #ff6f61;
    /* Default: Soft pink */
    --background: #ffffff;
    --text-color: #333333;
}

[data-theme="dark"] {
    --primary-color: #ffffff;
    --background: #222;
    --text-color: #ffffff;
}

[data-theme="pink"] {
    --primary-color: #222;
    --background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    --text-color: #332a2a;
}


/* Settings container */
.settings-container {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 85vh;
    width: 200px;
    margin: 60px auto;
    padding: 20px;
    background: var(--background);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Setting options */
.setting-option {
    margin-bottom: 15px;
}

.setting-option label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.setting-option select,
.setting-option input[type="color"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--background);
    color: var(--text-color);
}

.setting-option input[type="color"] {
    padding: 0;
    height: 40px;
}