/* Root variables for themes and colors */
:root {
    --primary-color: #ff6f61;
    --background: #ffffff;
    --container-color:#dbdbdb;
    --text-color: #6b6b6b;
}

[data-theme="dark"] {
    --primary-color: #ffffff;
    --background: #383838;
    --container-color:#5a5a5a;
    --text-color: #ffffff;
}

[data-theme="pink"] {
    --primary-color: #222;
    --background: #eee7e1;
    --container-color: #ff9a9e;
    --text-color: #3b5661;  
}


/* Settings container */
.settings-container {
    height: 30vh;
    width: 35vh;
    margin: 60px auto;
    padding: 20px;
    background: var(--container-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.setting-option {
    margin-bottom: 15px;
}

.setting-option label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.setting-option select,
.setting-option input[type="color"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--background);
    color: var(--text-color);
}

.setting-option input[type="color"] {
    padding: 0;
    height: 40px;
}