

.submit-column-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    min-height: 95vh;
    padding: 20px;
    gap: 20px;
}

.submit-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    min-width: 250px;
    max-width: 500px;
    gap: 15px;

}

.submit-right-column {
    display: flex;
    flex-direction: column;

    min-width: 250px;
    max-width: 650px;
    padding: 20px;
    border-radius: 25px;
    gap: 10px;
}

.anime-title-container{
    display: flex;
    flex-direction: column;
}

.input-anime{
    height: 25px;
    border-radius: 10px;
    padding-left: 7px;
}

.name-column{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.firstName{
    display: flex;
    height: 25px;
    width: 120px;
    padding-left: 7px;
    border-radius: 10px;
    resize: none;
    font-family: inherit;
}

.lastName{
    display: flex;
    height: 25px;
    max-width: 120px;
    padding-left: 7px;
    border-radius: 10px;
    resize: none;
    font-family: inherit;
}

.submit-quote-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    min-height: 0vh;
    max-width: 300px;
    
    gap: 2px;
}

.input-quote {
    min-width: 30%;
    width: 91%;
    height: 170px;
    padding: 12px;

    background: #fff;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-family: inherit;
    resize: none;
}

button {
    width: 100%;
    max-width: 350px;
    height: 25px;
    border-radius: 15px;
}

label{
    color: var(--text-color);
    font-family: inherit;
    
}
/* img {
    border-radius: 15px;
} */