.column-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    padding: 20px;
    gap: 100px;
    /* Adds space between columns */
}

.left-column {
        flex: 1;
        min-width: 250px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        /* Add this */
        flex-direction: column;
        /* Add this */
        gap: 15px;

}

.right-column {
    flex: 1;
    min-width: 250px;
    max-width: 600px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.quote-text{
    width: 500px;
    height: 300px;
    text-align: start;
    background-color:#534747e7;
    border-radius: 15px;
    color: white;
}

iframe {
    min-height: 120%;
    min-width: 120%;
}

button {
    width: 100%;
    max-width: 350px;
    height: 25px;
    border-radius: 15px;
}