

.submit-column-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    min-height: 95vh;
    padding: 20px;
    gap: 20px;
}

.submit-left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    min-width: 250px;
    max-width: 500px;
    gap: 15px;

}

.submit-right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-width: 250px;
    max-width: 600px;
    padding: 20px;
    border-radius: 25px;
    gap: 15px;
}

.input-quote {
    text-align: left;
    /* Aligns text to the left */
    vertical-align: top;
    /* Ensures text starts from the top */

    min-width: 200px;
    width: 85%;
    height: 170px;
    padding: 12px;

    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    /* background-color: #534747e7; */
    border-radius: 15px;
    color: white;
    font-family: inherit;
}

button {
    width: 100%;
    max-width: 350px;
    height: 25px;
    border-radius: 15px;
}

/* img {
    border-radius: 15px;
} */